

<a href="/person/create">+Create</a>|<a href="/person/index">List</a>|<a href="/person/update/<%= model.personId %>">Update</a>

<h2>View <%=model.personName%></h2>
<ul>
  <li>Name:&ensp;&ensp;<%=model.personName %></li>
  <li>Address:&ensp;&ensp;<%=model.personAddress %></li>
  <li>Cnic:&ensp;&ensp;<%=model.personCnic %></li>
  <li>Contact:&ensp;&ensp;<%=model.personContact %></li>

</ul>