

<a href="/accounts/create">+Create</a>|<a href="/accounts/index">List</a>|<a href="/accounts/update/<%= model.accountId %>">Update</a>

<h2>View <%=model.accountName%></h2>
<ul>
  <li>Account name:&ensp;&ensp;<%=model.accountName %></li>
  <li>password:&ensp;&ensp;<%=model.accountPassword %></li>
  <li>person id:&ensp;&ensp;<%=model.personId %></li>
  <li>Role id:&ensp;&ensp;<%=model.roleId %></li>

</ul>